*, *:before, *:after{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	
	
}

.contenedor{
	background-color: #fff;
	position: fixed;
	width: 100vw;
	height: 100vh; 
	transition: all 1s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1200;
	overflow: hidden;
}



.loader-container{
	position: relative;
	width: 80px;
	height: 80px;
	margin: 10px;
	display: flex;
	justify-content: center;
}

.loader-container .loader{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	border: solid  4px transparent;
	border-top-color:  #151515;
	border-left-color:  #151515;
	border-radius: 50%;
	animation: loader 1.4s ease-in-out infinite;
}

.loader-container .loader2{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 70%;
	border: solid  4px transparent;
	border-top-color:  #fed049;
	border-left-color:  #fed049;
	border-radius: 50%;
	animation: loader2 1.2s linear infinite;
}

@keyframes loader{
	0%{
		transform: translate(-50%, -50%) rotate(0deg);
	}
		100%{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes loader2{
	0%{
		transform: translate(-50%, -50%) rotate(0deg);
	}
		100%{
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}