@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #151515;
	position: sticky;
	top: 0px;
/*	
	box-shadow: 0 4px 25px -22px black;*/
	z-index: 2;
}

.header-content{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo{
	height: 80px;
	justify-content: center;
	align-items: center;
	display: flex;	
	margin-top: -4px;
}

.logo h1 a{
	font-size: 40px;
    color: #fed049;
   	text-transform: none;
    margin-left: 34px;
    font-weight: normal;
    font-family: 'Lobster', cursive;

}

.menu{
	height: 80px;


}

.menu nav{
	height: 100%;

}

.menu nav ul{
	height: 100%;
	display: flex;
	list-style: none;
}

.menu nav ul li{
	height: 100%;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.menu-select:before{
	content: '';
	width: 100%;
	height: 4px;
	background: #fed049;
	position: absolute;
	top: 0;
	left: 0;
}

.menu nav ul li a{
	color: white;
	font-size: 18px;
	transition: color 300ms;
}

.menu nav ul li a:hover{
	color: #fed049;
	text-shadow: 0 0 20px #fed049;
}


.menu .text-menu-selected{
	color: #fed049;
}


#icon-menu{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 20px;
	top: 16px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	display: none;
}

.container-cover{
	width: 100%;
	height: 550px;
	position: relative;
	background: #151515;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

footer header{
	position: sticky;
	bottom: 0px;
	width: 100%;
}

footer header .header-content{
	width: 100%;
}


.container-cover:before{
	content: '';
	width: 100%;
	height: 100%;
/*	background: rgba(254, 208, 73, 0.1);*/
	position: absolute;
	top: 0;
	left: 0; 
}


.container-info-cover{
	max-width: 800px;
	height: 450px;
	margin: auto;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	position: relative;
	z-index: 1;


}

.container-info-cover h1{
	font-size: 60px;
	text-transform: none;
	color: white;
	font-family: 'Lobster', cursive;
	font-weight: 500;
	text-shadow: 0 0 20px #fed049;
}


.container-info-cover h1:after{
	content: attr(data-text);
	justify-content: center;
	display: flex; 
	margin-top: -95px;

}

.container-info-cover p{
	font-size: 20px;
	font-weight: 300;
	color: #151515;
	background: #fed049;
}

/*container contenido del articulo*/

.container-content{
	width: 1200px;
	margin: auto;
	margin-top: 40px;
	display: flex;
	justify-content: center;
}


article{
	width: 100%;
	padding: 20px;
	padding-bottom: 40px;
	box-shadow: -10px 0 20px -30px black;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
}

article:before{
	content: '';
	width: 100%;
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fed049;
}


article h1{
	margin-top: 20px;
	font-weight: 500;
	font-size: 40px;
	color: #444;
}

article p{
	margin-top: 20px;
	font-size: 18px;
	color: #3c3c3c;
}

article img{
	width: 100%;
	margin-top: 20px;
}

/*aside de los articulos relacionados*/

.container-aside aside{
	width: 320px;
	border-radius: 6px;
	box-shadow: 0 0 20px -20px black;
	overflow: hidden;
	margin-left: 40px;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

.container-aside aside img{
	width: 100%
}

.container-aside aside h2,
.container-aside aside p{
	margin-top: 20px;
	padding: 0 20px;
}


.container-aside aside button{
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px 50px;
	font-size: 16px;
	background: #fed049;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 6px;

}


/*
footer- pie de pagina*/

.container-footer{
	width: 100%;
	padding: 40px 0;
	background: #f7f7f7;
	margin-top: 40px;

}

.container-footer footer{

	margin: auto;

}

.container-footer footer p{
	padding: 50px;
}
.container-footer footer h4{
	margin-bottom: 60px;
}
.container-footer footer header{
	margin-bottom: -80px;

}
.container-footer footer .logo-footer{
	text-align: center;
}


.container-footer footer .logo-footer img{
	width: 80px;
}

.container-footer footer .redes-footer{
	display: flex;
	margin-top: 20px;
	justify-content: center;
}


.container-footer footer .redes-footer .icon{
	font-size: 20px;
	margin: 20px;
	background: #efefef;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.container-footer footer hr{
	margin-top: 20px;
	border: none;
	height: 2px;
	background: #c8c8c87a;
}

.container-footer h4{
	text-align: center;
	margin-top: 20px;
	color: #8e8e8e;
	font-weight: 500;
}


/*
responsive design*/

@media screen and (max-width: 1220px){

	.header-content,
	.container-content,
	.container-footer footer{
		max-width: 1000px;
		padding: 0 20px;
	}


.container-footer footer header{
	display: none;
}



}


@media screen and (max-width: 1020px){

	.container-content{
		width: 100%;
		flex-direction: column;
	}

	article{
		box-shadow: 0 0 0 0;
	}

	.container-aside{
		display: flex;
		justify-content: center;
	}

	.container-aside aside{
		max-width: 300px;
		margin: 10px;
	}
}

@media screen and (max-width: 800px){

	.container-all{
		transition: all 400ms cubic-bezier(1,0,0,1); 
	}

	.move-container-all{
		transform: translateX(100vw);
	}

	¿
	.container-cover{

	}
	
	.menu{
		width: 0px;
		height: 100vh;
		position: fixed;
		top: 0px; 
		left: 0;
		background:  #fed049;

		overflow: hidden;
		transform: translateX(-100vw);
		box-shadow: 10px 0 20px -25px black;
		transition: all 400ms cubic-bezier(1,0,0,1); 
	}

	.show-lateral{
		width: 100vw;
		transform: translateX(0px);
	}

	.menu nav ul{
		flex-direction: column;
	}

	.menu nav ul li{
		max-width: 100vw;
		justify-content: center;
		align-items: stretch;
		height: 130px;
	}

	.menu nav ul li a{
		margin-top: 40px;
			color: 	#151515;

	}
	.logo{
		margin-left: -40px;
	}

	#icon-menu{
		display: flex;
	}

	.container-aside{
		flex-wrap: wrap;
	}

}


.wap {
  width: 90%;
  margin:auto;
}

.bienvenidos {
  margin-top: 50px;
  text-align: center;
}

.bienvenidos h3{
  font-size: 25px;
}

.wap h1{
	text-align: center;
	margin-top: 100px;
}